:root{
    --main-text--:#000000; 
    --button-text--:#F7941E; 
    --white-text--: #FFFFFF;
    --black-background--: #231F20;
    --text-background--: #F1F1F2;
    --footer-background--:#FAFAFA;

}
body{
    font-family: 'Montserra', sans-serif ;
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text--);
    background-color: var(--footer-background--);
    
}

.cotainer{
    background-color: red;
}

button{
    font: inherit;
}

.list{
    list-style: none;
}

.site-nav a{
    line-height: 1.22;
    text-decoration: none;
    color: var(--main-text--);
}
.site-nav a:hover,
.site-nav a:focus{
    color: var(--button-text--);
}


.white-button{
    background-color:var(--white-text--);
    color: var(--button-text--);
    border-color: var(--button-text--);
     line-height: 1.22;
    
}
.hero, .work{
    background-color: var(--text-background--);
}
.section-hero{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.23;
}
.hero p{
    font-size: 20px;
    line-height: 1.4;
}

.yellow-button{
    background-color: var(--button-text--);
    color: var(--white-text--);
    border-color: var(--button-text--);
 
}
.section-work,
.contact p{
    font-size: 32px;
    line-height: 1.4;
}
.work-button{
    background-color:var(--white-text--);
    color: var(--button-text--);
    border-color: var(--button-text--);
    line-height: 1.35;

}
.present{
background-color: var(--white-text--);
}
.section-present,
.section-blog{
    font-size: 32px;
    line-height: 1.18;
    font-weight: 400;
}
.text-present{
    line-height: 1.35;
}
.picture-present {
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text--);
    font-weight: 400;
    text-decoration: none;
}

h3.picture-present {}
.section-see{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,35;
}
.contact{
    background-color: var(--button-text--);
}
.section-contact{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
}
.black-button, .orange-button, .yellow-button, .white-button,.work-button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-family: 'Montserra', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    cursor: pointer;

}
.black-button{
    background: #231F20;
    color: var(--white-text--);
    border-color: var(--main-text--);

}
.orange-button{
    background-color: #F7941E;
    color: var(--main-text--);
    border-color:var(--main-text--);
}
.blog{
    background-color: var(--white-text--);
}
.text-blog{
    font-size: 18px;
    line-height: 1.35;
}

p.text-blog {}
.blog1{
    background-color: var(--black-background--);
    color: var(--white-text--);
}
.blog1 p{
    font-size: 14px;
    line-height: 1.4;
}
.section-blog1{
    font-size: 48px;
    line-height: 1.2;
}
.blog1 a{
    line-height: 1.4;
    color: var(--white-text--);
    text-decoration: none;
}
.blog3{
    background-color: var(--white-text--);
}
.section-blog2{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
}

h4.section-blog2 {}
.blog2 p,
.blog2 a{
    line-height: 1.4;
}
.blog2 a{
    font-size: 14px;
    text-decoration: none;
    color: var(--main-text--);
}
.section-footer a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--main-text--);
}
.footer p{
    font-size: 14px;
    line-height: 1.4;
}