:root{
    --main-text--:#000000; 
    --button-text--:#F7941E; 
    --white-text--: #FFFFFF;
    --black-background--: #231F20;
    --text-background--: #F1F1F2;
    --footer-background--:#FAFAFA;
    --cubic--:cubic-bezier(0.4, 0, 0.2, 1); 
}

body{
    font-family: 'Montserra', sans-serif ;
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text--);
    background-color: var(--footer-background--);

}

.container{
    background-color:var(--footer-background--);
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;

}
.logo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 39px 34px 35px 80px;
    margin: 0;
}


.img-logo{
    width: 41px;
    height: 39px;
  
}
.site-nav{
    display: flex;
}   
.site-nav .item{
    margin-right: 31px;
}

.list{
    list-style: none;
}

.site-nav a{
    line-height: 1.22;
    text-decoration: none;
    color: var(--main-text--);

    transition: color 250ms var(--cubic--);

}
.site-nav a:hover,
.site-nav a:focus{
    color: var(--button-text--);
}


.white-button{
    background-color:var(--white-text--);
    color: var(--button-text--);
    border-color: var(--button-text--);
     line-height: 1.22;

     transition: background-color 250ms var(--cubic--);
    
}
.white-button:hover{
    background-color: var(--button-text--);
    color: var(--white-text--);
}

.gift-container{
    display: flex;
    flex-wrap: nowrap;
    
align-items: stretch;}


.section-hero{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.23;
    font-family: 'Gilroy';
    color: var(--main-text--);
    margin: 0;
}
.hero-text{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 52px;
    margin-top:36px;
}
.text-container{
    padding: 154px 126px 135px 162px;
    background-color: var(--text-background--);
 
}

.yellow-button{
    background-color: var(--button-text--);
    color: var(--white-text--);
    border-color: var(--button-text--);

    transition: background-color 250ms var(--cubic--);

 
}
.yellow-button:hover{
    background-color: var(--white-text--);
    color: var(--button-text--);
}
.gift-card{
    /* margin: 0; */
    transform: rotate(0.3deg);
    padding-left: 15px;
   
}
.picture-img{
    margin: 0;
    padding: 0;
}

.work{
    display: flex;
    flex-wrap: wrap;
}

.text-work{
    padding: 164px 166px 104px 102px;
    margin: 0;
}
.section-work{
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 1.4;
    font-weight: 400;
}
.work-text{
    width: 441px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 23px;
    margin-bottom: 35px;
}
.work-button{
    background-color:var(--white-text--);
    color: var(--button-text--);
    border-color: var(--button-text--);
    line-height: 1.35;

    transition: background-color 250ms var(--cubic--);
}
.work-button:hover{
    background-color: var(--button-text--);
    color: var(--white-text--);
}
.present{
background-color: var(--white-text--);
margin-bottom: 137px;
}
.present-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-present,
.section-blog{
    font-size: 32px;
    line-height: 1.18;
    font-weight: 400;
}
.section-present{
    text-align: center;
    margin-top: 96px;
    margin-bottom: 23px;
}
.present-item{
    background-color: var(--white-text--);
    transition: background-color 250ms var(--cubic--);
}
.present-item:hover{
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}



.present-container .present-item{
    margin-right: 30px;
}
.present-container .present-item:last-child{
    margin-right: 0;
}
.text-present{
    line-height: 1.35;
    text-align: center;
    margin-bottom: 64px;
}
.picture-present {
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text--);
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 74px;
    margin-top: 24px;
    margin-left:24px ;
    text-decoration: none;
  }


.section-see{
    margin-left: 24px;
}
.picture-present 
.section-see{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,35;
 
    
}
.contact-container{
    background-color: var(--button-text--);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.section-contact{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    margin-top: 81px;
    /* margin-bottom: 0; */
}
.contact-text{
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 69px;
}

.yellow-button, .white-button,.work-button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-family: 'Montserra', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    cursor: pointer;

}
.black-button:hover{
    background-color: var(--button-text--);
    color: var(--white-text--);
    border-color:var(--white-text--) ;
}
.black-button{
    background: #231F20;
    color: var(--white-text--);
    border-color: var(--main-text--);

    margin-right: 16px;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 1.14;

   width: 200px;
   height: 50px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 250ms var(--cubic--);

}
.orange-button:hover{
    background-color: var(--white-text--);
    border-color: var(--button-text--);
    color: var(--button-text--);
}
.orange-button{
    background-color: #F7941E;
    color: var(--main-text--);
    border-color:var(--main-text--);
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 1.34;
    border: 1px solid var(--main-text--);
    cursor: pointer;

    border-radius: 5px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    width: 200px;
    height: 50px;

    transition: background-color 250ms var(--cubic--);
}
.blog{
    background-color: var(--white-text--);
}
.section-blog{
    text-align: center;
    margin-top: 88px;
}
.text-blog{
    font-size: 18px;
    line-height: 1.35;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 71px;
}

.blog-container{
    display: flex;
    
justify-content: center;}
.second-blog-container{
   padding-left: 78px;
   padding-right: 200px;
    background-color: var(--black-background--);
    color: var(--white-text--);
}

.blog-text{
    font-size: 14px;
    line-height: 1.4;
    margin-top: 63px;
    margin-bottom: 27px;
}
.section-blog1{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 60px;
    width: 491px;
}
.a-blog{
    line-height: 1.4;
    color: var(--white-text--);
    text-decoration: none;
    margin-bottom: 49px;
}

.section-blog2{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
    margin-top: 48px;
}

 
.read-blog,
.more-blog{
    line-height: 1.4;
}
.more-blog{
    font-size: 14px;
    text-decoration: none;
    color: var(--main-text--);
}

.third-blog-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.third-blog-list .item{
    margin-right: 30px;
    width: 570px;
}

.blog-item{
    background-color: var(--white-text--);
    transition:  box-shadow 250ms var(--cubic--);
    cursor: pointer;
    padding: 48px;
}

.blog-item:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.section-footer a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--main-text--);
}
.footer p{
    font-size: 14px;
    line-height: 1.4;
}
.footer-container{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
.container-footer{
    margin-top: 106px;
    border-bottom: 1px solid #000;
    width: 1000px;
    margin-left:220px;
    margin-bottom: 55px;
    
}
.instagram{
    width: 40px;
    height: 40px;
}
.instagram-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    width: 1000px;
}
