:root{
    --main-text--:#000000; 
    --button-text--:#F7941E; 
    --white-text--: #FFFFFF;
    --black-background--: #231F20;
    --text-background--: #F1F1F2;
    --footer-background--:#FAFAFA;

}
body{
    font-family: 'Montserra', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text--);
}
     button{
        font:inherit;
    }
   



.list{
    list-style: none;
}

.site-nav a{
    line-height: 1.22;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
    color: var(--button-text--);
}


.white-button{
    background-color:var(--white-text--);
    color: var(--button-text--);
    border-color: var(--button-text--);
    font-family: 'Montserra', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    cursor: pointer;

}
.section-hero{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.23;
}
.hero p{
    font-size: 20px;
    line-height: 1.4;
}

.yellow-button{
    background-color: var(--button-text--);
    color: var(--white-text--);
    border-radius: 5px;
    border-color: var(--button-text--);
}